@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 5rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-large {
  margin-top: 5rem !important;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
  pointer-events: none !important;
}

.form-container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 6rem;
  box-shadow: inset 5px 5px 20px #1d2023, inset -5px -5px 20px #454a51;
  border-radius: 1.2rem;
  background: linear-gradient(to right top, #34393e, #2c3034);
}
.form__label {
  font-size: 2rem;
  color: #46494e;
}
.form__link-wrap {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  color: #e7e7e7;
  text-decoration: none;
  transition: all 0.3s;
}
.form__icon {
  color: #e7e7e7;
  --ionicon-stroke-width: 20px;
  padding: 1.2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: linear-gradient(145deg, #34393e, #2c3034);
  box-shadow: 6px 6px 12px #2a2d31, -6px -6px 12px #383d43;
  cursor: pointer;
  transition: all 0.5s;
}
.form__icon:active {
  transform: translateY(3px);
  background: #31353a;
  box-shadow: inset 6px 6px 12px #2a2d31, inset -6px -6px 12px #383d43;
}
.form__input {
  display: none;
  color: #46494e;
}
.form__button {
  color: #e7e7e7;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  border: none;
  border-radius: 10rem;
  background: linear-gradient(to right, rgba(241, 84, 18, 0.5), #f15412);
  padding: 2rem 3rem;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
}

.primary-heading {
  font-size: 3.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* root font size 10px, we use percentages for accesabilty purposes, 
  since some people increase the font size of their browser */
  font-size: 62.5%;
}

body {
  /* box sizing property not inherited automatically, so we set all selectors to inherit this declared value  */
  box-sizing: border-box;
  color: #dbdbdb;
  background-color: #31353a;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 1.5em;
}

::-webkit-scrollbar-track {
  background: #31353a;
  box-shadow: inset 6px 6px 5px #2c3034, inset -6px -6px 5px #363a40;
}

::-webkit-scrollbar-thumb {
  height: 10rem;
  background: linear-gradient(145deg, #34393e, #2c3034);
  box-shadow: 7px 7px 14px #25282c, -7px -7px 14px #3d4249;
}

.shake-animation {
  animation: card-shake 0.5s !important;
}

.slide-out {
  animation: slide-out 0.7s !important;
}

.slide-in {
  animation: slide-in 0.7s !important;
}

@keyframes card-shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.cards-article {
  position: relative;
  display: flex;
  justify-content: center;
}
.cards-article__btn-cont {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}
.cards-article__btn {
  text-decoration: none;
  position: absolute;
  right: 25%;
  padding: 1.5rem;
  color: #e7e7e7;
  font-size: 1.6rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 0;
}
.cards-article__btn:active {
  transform: translateY(3px);
}
.cards-article__btn--next {
  bottom: -45%;
  background: #296866;
}
.cards-article__btn--next:hover {
  background: rgba(41, 104, 102, 0.8);
}
.cards-article__btn--cancel {
  bottom: -20%;
  background: linear-gradient(145deg, #2c3034, #34393e);
  box-shadow: 17px 17px 27px #292c30, -17px -17px 27px #393e44;
}
.cards-article__btn--cancel:hover {
  background: #393e44;
}
.cards-article__btn--remembered-words {
  right: 1%;
  top: 5%;
}
.cards-article .remembered-words {
  display: block;
  padding: 6rem 3rem;
  position: absolute;
  right: 3rem;
  top: 6rem;
  border-radius: 1.2rem;
  background: linear-gradient(145deg, #2c3034, #34393e);
  box-shadow: 14px 14px 21px #303338, -14px -14px 21px #32373c;
  transition: all 0.3s ease;
}
.cards-article .remembered-words__list {
  height: 60vh;
  width: 20rem;
  overflow-y: auto;
  list-style: none;
  margin-top: 3rem;
  padding-right: 3rem;
}
.cards-article .remembered-words__list li {
  border-bottom: 0.5px solid #e7e7e7;
  padding: 1.5rem 0;
}
.cards-article .card {
  perspective: 200rem;
  position: relative;
  height: 20rem;
  margin: 10rem auto 0;
  width: 30%;
}
.cards-article .card__side {
  height: 51rem;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  font-weight: 400;
  font-size: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 1.2rem 4rem rgba(0, 0, 0, 0.15);
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.8s ease;
}
.cards-article .card__side--front {
  color: #e7e7e7;
  background: #31353a;
  box-shadow: 14px 14px 28px #2d3135, -14px -14px 28px #35393f;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cards-article .card__side--back {
  color: #e7e7e7;
  background: #33393e;
  box-shadow: inset 10px 10px 25px #262b2f, inset -10px -10px 25px #40474e;
  transform: rotateY(180deg);
}
.cards-article .card__text {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.cards-article .card__icon--front {
  color: #e7e7e7;
  font-size: 3.2rem;
  --ionicon-stroke-width: 12px;
  cursor: pointer;
}
.cards-article .card__icon--front:hover {
  color: rgba(238, 80, 17, 0.6666666667);
}
.cards-article .card__icon--back {
  --ionicon-stroke-width: 12px;
  color: #e7e7e7;
  font-size: 3.2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.cards-article .card__btn {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  border: none;
  border-radius: 10rem;
  background: radial-gradient(#ee5011, #c02b09);
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cards-article .card__btn:hover {
  background: linear-gradient(105deg, rgba(241, 84, 18, 0.5), rgba(241, 85, 18, 0.7019607843));
}
.cards-article .card__btn:active {
  transform: translateY(2px);
}
.cards-article .card__side--front.rotate {
  transform: rotateY(-180deg);
}
.cards-article .card__side--back {
  text-align: center;
}
.cards-article .card__side--back.rotate {
  transform: rotateY(0deg);
}

.words-counter__num {
  position: absolute;
  top: 55%;
  left: -25%;
  z-index: 99;
  font-size: 0.8rem;
  width: 36%;
  height: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background: linear-gradient(105deg, rgba(241, 84, 18, 0.5), rgba(241, 85, 18, 0.7019607843));
}

/*# sourceMappingURL=style.css.map */
