////////COLORS/////////////////////
$color-dark-grey-1: #31353a;
$color-dark-grey-2: #46494e;
$color-dark-grey-3: #393e44;
$color-dark-grey-4: #33393e;
$color-light-grey-1: #e7e7e7;
$color-green: #296866;
$color-orange: #ee5011aa;

$linear-gradient-dark: linear-gradient(145deg, #2c3034, #34393e);

$radial-gradient-btn: radial-gradient(#ee5011, #c02b09);

////////////////////FONT/////////////////////
$font-size-btn: 1.4rem;
$font-size-default: 1.6rem;
$font-size-card: 2rem;
$font-size-text: 2.4rem;
$font-size-icon: 3.2rem;

$font-weight-lt: 300;
$font-weight-nm: 400;
$font-weight-md: 500;
$font-weight-b: 700;

$border-radius-btn: 10rem;
$border-radius-cont: 1.2rem;

$letter-spacing-btn: 2px;
$letter-spacing-text: 3px;

$transition-sm: all 0.3s ease;
$transition-md: all 0.8s ease;
