.cards-article {
  position: relative;
  display: flex;
  justify-content: center;
  &__btn {
    text-decoration: none;
    position: absolute;
    right: 25%;
    padding: 1.5rem;
    color: #e7e7e7;
    font-size: 1.6rem;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    // box-shadow: 0 1rem 3rem rgba(black, 0.15);
    transition: all 0.3s ease;
    line-height: 0;

    &:active {
      transform: translateY(3px);
    }
    &--next {
      bottom: -45%;
      background: #296866;
      &:hover {
        background: #296866bc;
      }
    }
    &--cancel {
      bottom: -20%;
      background: linear-gradient(145deg, #2c3034, #34393e);
      box-shadow: 17px 17px 27px #292c30, -17px -17px 27px #393e44;
      &:hover {
        background: #393e44;
      }
    }
    &--remembered-words {
      right: 1%;
      top: 5%;
    }
  }

  .remembered-words {
    display: block;
    padding: 6rem 3rem;
    position: absolute;
    right: 3rem;
    top: 6rem;
    border-radius: 8px;
    background: linear-gradient(145deg, #2c3034, #34393e);
    box-shadow: 14px 14px 21px #303338, -14px -14px 21px #32373c;
    transition: all 0.3s ease;

    &__list {
      height: 60vh;
      width: 20rem;
      overflow-y: auto;
      list-style: none;
      margin-top: 3rem;
      padding-right: 3rem;
      li {
        border-bottom: 0.5px solid #e7e7e7;
        padding: 1.5rem 0;
      }
    }
  }

  .card {
    perspective: 200rem;
    position: relative;
    height: 20rem;
    margin: 10rem auto 0;
    width: 30%;

    &__side {
      height: 51rem;
      width: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      transform-style: preserve-3d;
      font-weight: 400;
      font-size: 2rem;
      border-radius: 1.2rem;
      // border: 1px solid #5a5d61;
      box-shadow: 0 1.2rem 4rem rgba(black, 0.15);
      padding: 2rem 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transition: all 0.8s ease;

      &--front {
        color: $color-light-grey-1;
        background: $color-dark-grey-1;
        box-shadow: 14px 14px 28px #2d3135, -14px -14px 28px #35393f;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      &--back {
        color: $color-light-grey-1;
        // background: linear-gradient(to right bottom, #34b3f1, #103648);
        background: #33393e;
        box-shadow: inset 10px 10px 25px #262b2f, inset -10px -10px 25px #40474e;

        // background: linear-gradient(105deg, rgba(#f15412, 0.5), #f15512cb);
        transform: rotateY(180deg);
      }
    }
    &__text {
      font-size: 2.4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
    }
    &__icon--front {
      color: $color-light-grey-1;
      font-size: 3.2rem;
      --ionicon-stroke-width: 12px;
      cursor: pointer;
      &:hover {
        color: #ee5011aa;
      }
    }
    &__icon--back {
      --ionicon-stroke-width: 12px;
      color: $color-light-grey-1;
      font-size: 3.2rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &__btn {
      color: white;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
      border: none;
      border-radius: 100px;
      // background: linear-gradient(105deg, rgba(#f15412, 0.5), #f15412);
      background: radial-gradient(#ee5011, #c02b09);
      padding: 1rem 2rem;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        background: linear-gradient(
          105deg,
          rgba(#f15412, 0.5),
          rgba(241, 85, 18, 0.7)
        );
      }
      &:active {
        transform: translateY(2px);
      }
    }
    &__side--front.rotate {
      transform: rotateY(-180deg);
    }
    &__side--back {
      text-align: center;
      &.rotate {
        transform: rotateY(0deg);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 1.5em;
}

::-webkit-scrollbar-track {
  background: #31353a;
  box-shadow: inset 6px 6px 5px #2c3034, inset -6px -6px 5px #363a40;
}

::-webkit-scrollbar-thumb {
  // border-radius: 8px;
  height: 10rem;
  background: linear-gradient(145deg, #34393e, #2c3034);
  box-shadow: 7px 7px 14px #25282c, -7px -7px 14px #3d4249;
}
