*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* root font size 10px, we use percentages for accesabilty purposes, 
  since some people increase the font size of their browser */
  font-size: 62.5%;
}
body {
  /* box sizing property not inherited automatically, so we set all selectors to inherit this declared value  */
  box-sizing: border-box;
  color: $color-light-grey-1;
  background-color: $color-dark-grey-1;
  overflow-y: hidden;
}
